html,
body {
  height: 100%;
}
#logo {
  z-index: 19;
}
#logo img {
  height: 60px;
  object-fit: cover;
  margin-top: 10px;
}
#nav-desktop {
  height: 95px;
}
#menu-nav {
  height: 65px;
  display: flex;
  align-items: center;
}
#menu-nav ul {
  height: 25px;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  align-self: flex-end;
}
#menu-nav li {
  float: left;
}
#menu-nav li a {
  padding-bottom: 2px;
  position: relative;
  display: block;
  color: #363636;
  text-align: left;
  margin-right: 30px;
  text-decoration: none;
  transition: color 0.15s linear;
}
#menu-nav ul li a:before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  right: 0;
  left: auto;
  height: 2px;
  width: 0;
  background: #161616;
  transition: width 0.25s linear;
}
#menu-nav ul li a:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}

#menu-nav ul li a.picked {
  color: #161616;
}
#menu-nav ul li a.picked::before {
  width: 100% !important;
  color: #161616 !important;
}
#menu-nav {
  position: fixed;
  z-index: 99;
}
#content .arrow {
  height: 10px;
  object-fit: cover;
  align-self: flex-end;
  margin-bottom: 4px;
}
#content .introduce p {
  font-size: 36px;
  margin: 0px;
}
#content .about-me {
  margin-top: 77px;
  display: flex;
  height: 25px;
  align-items: flex-end;
}
#content .about-me p {
  color: #333;
  font-size: 18px;
  align-self: flex-end;
  margin: 0;
}
@keyframes yourAnimation1 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: rotate(xx) translateX(0px);
  }
}
.about-me:hover .arrow {
  animation: yourAnimation1 1.5s infinite 0s ease-in;
}
#content {
  padding-top: 10% !important;
  display: flex;
  height: 50%;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: #ffffff;
}
#slide {
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 100%;
  transform: translate(-100%, 0%);
  padding: 0;
}
#section1,
#section2,
#section3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#section1 {
  background-image: url(../image/slidehome/63e99556252939.59ad407924e7c.png);
}
#section2 {
  background-image: url(../image/slidehome/8f823a77860021.5c93c1e6d6187.jpg);
}
#section3 {
  background-image: url(../image/slidehome/c81a6c61748817.5a78ca07009a3.jpg);
}
.section {
  color: #fff;
}
.section a {
  font-size: 80px;
}
.section h4 {
  font-size: 18px;
  font-family: blackLato;
}
.section a {
  text-decoration: none;
  color: #fff;
}
.title-slide {
  margin-bottom: 15px;
}
